* {
    margin: 0;
    padding: 0;
}

.navbar-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: bisque;
}

.nav-elements {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 40%;
}

.swiggy-logo {
    height: 40px;
    padding: 10px;
}

.path {
    background-color: rgb(219, 209, 209);
    padding: 5px;
}

.display-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: black;
}

.disp-img {
    display: flex;
    align-items: center;
}

.disp-img > img {
    height: 160px;
}

.displaybar-text-color {
    color: azure;
}

.restaurant-name {
    font-size: 160%;
}

.ratings-desc {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.restaurant-info-padding {
    padding: 10px;
}

.ratings-desc-padding {
    padding: 10px;
}

.ratings {
    border-right: 1px solid rgb(73, 70, 70);;
}

.delivery-time {
    border-right: 1px solid rgb(73, 70, 70);
}

.content-padding {
    padding: 8px;
}

.offer-box {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.offer-description-padding {
    padding-bottom: 10px;
}

.offers-display {
    border: 0.5px solid rgb(73, 70, 70);
    padding: 10px;
}

.menu-items-section {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.menu-index {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    border-right: 0.5px solid black;
}

.menu-content {
    font-size: 100%;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin: 10px;
}

.menu-content:hover {
    color: orange;
    cursor: pointer;
}