* {
    margin: 0;
    padding: 0;
}

.navbar-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: bisque;
}

.nav-elements {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 40%;
}

.swiggy-logo {
    height: 40px;
    padding: 10px;
}

.path {
    background-color: rgb(219, 209, 209);
    padding: 5px;
}

.display-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: black;
    padding: 20px 0 20px 0;
    margin-bottom: 40px;
}

.disp-img {
    display: flex;
    align-items: center;
}

.disp-img > img {
    height: 160px;
}

.displaybar-text-color {
    color: azure;
}

.restaurant-name {
    font-size: 160%;
}

.ratings-desc {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.restaurant-info-padding {
    padding: 10px;
}

.ratings-desc-padding {
    padding: 10px;
}

.ratings {
    border-right: 1px solid rgb(73, 70, 70);;
}

.delivery-time {
    border-right: 1px solid rgb(73, 70, 70);
}

.content-padding {
    padding: 8px;
}

.offer-box {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.offer-description-padding {
    padding-bottom: 10px;
}

.offers-display {
    border: 0.5px solid rgb(73, 70, 70);
    padding: 10px;
}

.menu-items-section {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.menu-index {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    border-right: 0.5px solid rgb(124, 124, 124);
    padding-right: 30px;
}

.menu-content {
    font-size: 100%;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin: 10px;
}

.menu-content:hover {
    color: orange;
    cursor: pointer;
}

.menu-items {
    width: 630px;
    height: 650px;
    padding: 0 20px 0 20px;
    overflow: scroll;
}

.menu-header {
    font-size: 32px;
    font-weight: 600;
}

.menu-items-desc {
    margin: 15px 0 15px 0;
    border-bottom: 1px solid rgb(119, 119, 119);
    padding: 20px 0 40px 0;
}

.cart-head {
    color: #7e808c;
}

.empty-cart-image {
    margin-top: 30px;
    height: 212px;
    width: 278px;
}

.item-img {
    display: flex;
    flex-direction: column;
    align-items: center;
    float: right;
}

.item-quantity {
    color: rgb(52, 158, 3);
    font-weight: bold;
}

.veg-icon {
    padding-top: 20px;
    height: 18px;
    width: 18px;
}

.item-name {
    margin-top: 10px;
    font-size: larger;
    font-weight: bold;
}

.search-container {
    position: absolute;
    display: flex;
    justify-content: center;
    width: 100%;
    top: 324px;
}

.filter {
    background-color: white;
    padding: 5px 10px 10px 10px;
}

.search-box > input {
    border: none;
    border-radius: 0px;
    padding: 5px 10px 10px 10px;
    margin-right: 15px;
}

.dropdown-container {
    display: none;
}

.dropdown-starter-elements {
    display: flex;
    flex-direction: column;
    background-color: bisque;
    /* margin-right: 20px; */
}

.dropdown-starter-elements a {
    text-decoration: none;
    color: black;
    padding: 0.2rem;
}

.dropdown-starter-elements a:hover {
    font-weight: bold;
}

.item-quantity {
    display: flex;
    margin: 3px;
}

.increment-item {
    font-size: large;
    margin-left: 3px;
    cursor: pointer;
}

.decrement-item {
    font-size: larger;
    margin-right: 3px;
    cursor: pointer;
}

.item-quantity-text {
    margin: 3px;
}

.display-items {
    display: flex;
    flex-direction: column;
}

.ordered-item {
    border: 1px solid black;
}

